img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {display: none;}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-size: cover;
    position: relative;
}



.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.user-img img {
    height: 120px;
    width: 120px;
    border: 5px solid #434e5a;
    border-radius: 70px;
}

.user-img {
    margin-top: -60px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 25px;
}

.form-input {
    width: 40%;
    margin: 5px 0 25px;
}

.btn-success {
    border: none!important;
    font-size: 15px!important;
    border-radius: 5px!important;
    padding: 7px 14px!important;
}

.forgot {
    padding: 5px 0 25px;
}

.forgot a {
}

.forgot a:hover {
    text-decoration: none;
}

